<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="42255CarrotPantsStudios.Tom8to" Version="1.1.0.0" Publisher="CN=1436C460-4FDB-434E-804C-0AAB96816885" />
  <Properties>
    <DisplayName>Tom8to</DisplayName>
    <Description>Tom8to</Description>
    <PublisherDisplayName>Carrot Pants Studios</PublisherDisplayName>
    <Logo>images\storelogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2</OSMinVersion>
    <OSMaxVersionTested>6.2</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" StartPage="default.html">
      <VisualElements DisplayName="Tom8to" Logo="images\logo.png" SmallLogo="images\smalllogo.png" Description="Tom8to" ForegroundText="light" BackgroundColor="#000000" ToastCapable="true">
        <DefaultTile ShowName="logoOnly" WideLogo="images\widelogo.png" ShortName="Tom8to" />
        <SplashScreen Image="images\splashscreen.png" />
      </VisualElements>
      <Extensions>
        <Extension Category="windows.backgroundTasks" StartPage="default.html">
          <BackgroundTasks>
            <Task Type="audio" />
          </BackgroundTasks>
        </Extension>
      </Extensions>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>